<div class="form-container">
  <form class="form-card" *ngIf="course" (ngSubmit)="onSubmit()" #courseForm="ngForm">
    <div>
      <label for="name">שם הקורס:</label>
      <input type="text" id="name" name="name" [(ngModel)]="course.name" required>
    </div>
    <div>
      <label for="categoryId">קטגוריה:</label>
      <select [(ngModel)]="course.categoryId" name="category" (ngModelChange)="onCategoryChange($event)">
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
    </div>
    <div>
      <label for="lessonsCount">מספר שיעורים:</label>
      <input type="number" id="lessonsCount" name="lessonsCount" [(ngModel)]="course.lessonsCount" required>
    </div>
    <div>
      <label for="startDate">תאריך התחלה:</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="course.startDate" required>
    </div>
    <div>
      <label for="learningMode">אופן למידה:</label>
      <select [(ngModel)]="course.learningMode" name="learningMode">
        <option [value]="LearningMode.Frontal">Frontal</option>
        <option [value]="LearningMode.Zoom">Zoom</option>
      </select>
    </div>
    <div>
      <label for="lecturerId">מזהה מרצה:</label>
      <input type="number" id="lecturerId" name="lecturerId" [(ngModel)]="course.lecturerId" required>
    </div>
    <div>
      <label>תמונה לקורס:</label>
      <div class="image-selection">
        <img *ngFor="let image of availableImages" [src]="'assets/course-images/'+ image" (click)="onImageSelect(image)"
          [class.selected]="course.imagePath === 'assets/course-images/' + image">
      </div>
    </div>
    <div>
      <label for="description">תיאור הקורס:</label>
      <textarea id="description" name="description" [(ngModel)]="course.description" required></textarea>
    </div>
    <div>
      <label for="syllabus">סיליבוס:</label>
      <ul>
        <li *ngFor="let item of course.syllabus || []; let i = index">
          <input type="text" [(ngModel)]="course.syllabus[i]" [name]="'syllabus' + i">
          <button type="button" class="btn-info" (click)="removeSyllabusItem(i)"> הסר נושא מהסיליבוס</button>
        </li>
      </ul>
      <button type="button" class="btn-info" (click)="addSyllabusItem()">הוסף פריט לסילבוס</button>
    </div>

    <div class="button-group">
      <button type="submit" class="btn btn-primary">שמור שינויים</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">בטל</button>
    </div>
  </form>
</div>