.register-container {
  max-width: 400px;
  margin: 5px auto;
  padding: 15px 25px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  margin-bottom: 2%;
  border-radius: 4px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}

.register-button {
  background-color: #007bff;
  color: white;
  padding: 6px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 10px;
}

.register-button:hover {
  background-color: #0056b3;
}

.additional-links {
  text-align: center;
  margin-top: 20px;
}

.additional-links a {
  color: #007bff;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

.toggle-password {
  position: absolute;
  left: -96%;
  /* Change 'right' to 'left' */
  top: 18%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}

span {
  color: #007bff;
}

.small {
  margin-top: 0px;
}

.toCheckIsLecture {
  margin-bottom: 5px;
}

.code {
  border: 2px solid #000000;
}