.image-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.image-selection img.selected {
  border-color: #007bff;
  box-shadow: 0 0 10px #007bff;
}

.image-selection img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.image-selection img:hover {
  transform: scale(1.03);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

label,
h3 {
  display: block;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 97%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #3f92ec;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  border: black solid 1px;
}

button[type="submit"]:hover {
  background-color: #0370e4;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}